//estilos globales

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace;    
  }
  

  a {
    color: black;
    text-decoration: none;
  }

  a:hover{
    color: #A89C91;
  }

  ul,ol {
    list-style: none;
  }
  